---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import PostsLoop from "../components/posts-loop.astro";
import { CATEGORIES } from "../config/categories";
---
<Layout title="My Experience">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading title="Mi Experiencia" description="Aquí hay una selección de mis experiencias y aprendizajes a lo largo de los años." />
    <div class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5">
      <PostsLoop categoryId={CATEGORIES.EXPERIENCE} />
    </div>
  </section>
</Layout>