---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import PostsLoop from "../components/posts-loop.astro";
import { CATEGORIES } from "../config/categories";
---
<Layout title="My Education">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading title="Mi formación" description="" />
    <h3 class="text-lg font-semibold text-neutral-900 dark:text-neutral-100 mt-6">Formación reglada</h3>
    <div class="z-50 grid items-stretch w-full grid-cols-1 my-4 gap-7 sm:gap-5">
      <PostsLoop categoryId={CATEGORIES.STUDIES_FORMAL} />
    </div>

    <h3 class="text-lg font-semibold text-neutral-900 dark:text-neutral-100 mt-6">Otras formaciones</h3>
    <div class="z-50 grid items-stretch w-full grid-cols-1 my-4 gap-7 sm:gap-5">
      <PostsLoop categoryId={CATEGORIES.STUDIES_OTHER} />
    </div>
  </section>
</Layout>