---
import Ok from "./icons/ok.astro";
---
<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <span
    class="flex items-center justify-center w-5 h-5 -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
  >
    <Ok />
    </span
  >
  <!-- Logo Text -->
  <span class="-translate-y-0.5 whitespace-nowrap"> Jose Luis Alonso</span>
</a>
